body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right,rgb(46, 46, 147),rgb(148, 90, 13),white);
    padding:10px;
   }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input, button {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .weather-box {
    background:rgb(191, 191, 204);
    margin:15px;
    padding: 15px;
  }